body{
    margin: 0;
    color: #242424;
}

p{
    font-family: Georgia;
}

label{
    font-family: Georgia;
}

h2{
    font-family: Arial;
}

h2>p{
    font-size: 18px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    display: block;
}

h3>p{
    color: #3b3b3b;
    display: inline-block;
}

form{
    height: 100%;
}


input[type=text], select, input[type=password], input[type=email], input[type=date], input[type=datetime-local], input[type=number]{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.solutions_border{

    width: 100%;
    height: 10px;
    border: 0 dashed black;
    border-bottom-width: 2px;
    margin-bottom: 2px;
}
#header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: green;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
    flex-basis: fit-content;
}

.header-button{
    background-color: inherit;

    border: 0 solid darkgray;
    border-left-width: 2px;

    color: #e2e2e2;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;

    height: 100%;
    padding: 10px 10px;
    display: inline-block;
    box-sizing: border-box;
}
.header-button:hover{
    background: darkgreen;
    color: white;
}
.regular-button{
    width: 100px;
    height: 40px;

    text-align: center;
    color: #242424;
    font-family: Arial;
    font-weight: bold;

    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
.labeled-div{
    width: 40%;
    min-width: 300px;
    margin: 20px auto auto 40px;
    padding: 9px 6px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    flex-basis: 400px;

    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registration-div{
    width: 40%;
    min-width: 300px;
    margin: 20px auto auto 40px;
    padding: 9px 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    flex-basis: 400px;
}

.rec-in-list{
    color: white;

    background-color: #5c76a0;

    padding: 0 0 0 5px;
    margin: 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button-holder{
    width: 100%;
    display: flex;

}

.manager-button{
    width: 120px;
    height: 50px;
    background: inherit;
}

.photo-container{
    width: 100%;
    min-width: fit-content;
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;

}

.columns{
    width: 100%;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    flex-basis: 50vw;
    flex-wrap: wrap;
}

.rec-status{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-around;

}
.rec-status p{
    text-align: right;
}

.about{
    white-space: normal;
    word-break: break-all;
}

.reduce-margin{
    margin: 2px 0px;
}

.list{
    margin-top: 20px;
    height: 600px;
    position: fixed;
    right: 50px;
    width: calc(40% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    overflow:auto;
}
.list-item{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid transparent;
    border-radius: 3px;
}
.active{
    border: 2px solid green;
    border-radius: 3px;
    box-sizing: padding-box;
}
.location-list{
    width: 90%;
    min-width: 300px;
    margin: 20px 40px auto;
    padding: 9px 0;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 400px;
}
.search{
    width: 100%;
    background-color: #7b7e7d;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-basis: auto;
}
.search> h3{
    margin: 0 2px;
    padding: 0 2px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: right;
    font-size: 18px;
    align-content: center;
    justify-content: center
}

.delete-button{
    background-color: red;
    color: white;
}

.delete-button:disabled{
    background-color: gray;
}