<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    {{>header}}
    {{#notApproved}}
    <div>
        {{#.}}
        <label>{{lastName}} {{firstName}}</label>
        <label>{{email}} </label>
        <label>{{phoneNumber}} </label>
        <label>{{numAgreement}}</label>
        <form id="creationForm" name="creationForm" action="/admin" method="post">
            <input name="{{_csrf.parameterName}}" type="hidden" value="{{_csrf.token}}"/>
            <input name="id" value="{{id}}" type="hidden"/>
            <input type="submit" value="Approve"/>
        </form>
        {{/.}}
    </div>
    {{/notApproved}}
</body>
</html>