<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attributes</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
{{>header}}

    <div class="labeled-div">
        {{#attributes}}
            {{#.}}

                <p>Name: <b>{{name}}</b></p>
                <p>Description: <b>{{description}}</b></p>
                <p>Amount: <b>{{amount}}</b></p>
                <p>Cost: <b>{{cost}}</b></p>
                <p>Type: <b>{{type}}</b></p>
                <form id="deleteAttribute" name="deleteUser" action="/admin/attributes/delete" method="post">
                    <input name="{{_csrf.parameterName}}" type="hidden" value="{{_csrf.token}}"/>
                    <input name="id" type="hidden" value="{{id}}"/>
                    <button type="submit" style="background-color: red; color: white" class="regular-button">Delete</button>
                </form>
            {{/.}}
            <div class="solutions_border"><div></div></div>
        {{/attributes}}
    </div>
</body>
</html>