<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checks</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
{{>header}}
<div class="registration-div">
    <div class="solutions_border"><div></div></div>

    {{#checks}}
        {{#.}}
            <p>Date: <b>{{dateOf}}</b></p>
            <p>Settlement Number: <b>{{settlementNumber}}</b></p>
            <p>Name: <b>{{#member}}{{firstName}} {{lastName}}{{/member}}</b></p>
            <p>Total: <b>{{total}}</b></p>
            <p>Reconstruction: {{#reconstruction}}<a href="/reconstructions/{{id}}">{{name}}</a>{{/reconstruction}}</p>
        {{/.}}
    <div class="solutions_border"><div></div></div>
    {{/checks}}
</div>
</body>
</html>