<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script type="text/javascript" src="/js/field.js"></script>
</head>
<body>
    {{>header}}
    <div>
        <form id="creationForm" name="creationForm" action="/admin/create/attribute" method="post">
            <input name="{{_csrf.parameterName}}" type="hidden" value="{{_csrf.token}}"/>
            <div class="registration-div">
            <div>
                <label>
                    Name:
                    <input name="name" type="text" value="{{creationForm.name}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{name}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label>
                    Amount:
                    <input name="amount" type="number" value="{{creationForm.amount}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{amount}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label>
                    Cost:
                    <input name="cost" type="number" value="{{creationForm.cost}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{cost}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label>
                    Description:
                    <input name="description" type="text" value="{{creationForm.description}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{description}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label>
                    Type:
                    <input name="type" type="text" value="{{creationForm.type}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{type}}
                </label>
                {{/errors}}
            </div>
                <button type="submit" class="regular-button">Create</button>
            </div>

        </form>
    </div>
</body>
</html>