<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>

    <script type="text/javascript" src="/js/field.js"></script>
</head>
<body>
    {{>header}}
    <div>
        <form id="creationForm" name="creationForm" action="/admin/create" method="post" enctype="multipart/form-data">
            <input name="{{_csrf.parameterName}}" type="hidden" value="{{_csrf.token}}"/>
            <div>
                <label>
                    Name:
                    <input name="name" type="text" value="{{creationForm.name}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{name}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label>
                    Address:
                    <input name="address" type="text" value="{{creationForm.address}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{address}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label>
                    Country:
                    <input name="country" type="text" value="{{creationForm.country}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{country}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label>
                    Photo:
                    <input id="photo" name="photo" type="file" value="{{creationForm.photo}}"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{year}}
                </label>
                {{/errors}}
            </div>
            <input type="submit" value="Create"/>
        </form>
    </div>
</body>
</html>