<script type="text/javascript" src="/js/field.js"></script>
<header id="header" >
    <div>
        <form id="main" action="/" method="get">
            <button type="submit" class="header-button">Main</button>
        </form>
    </div>
    {{#organizer}}
    <div>
        <form id="reconstructions" action="/organizer/reconstructions" method="get">
            <button type="submit" class="header-button">My reconstrutions</button>
        </form>
    </div>
    <div>
        <form id="create" action="/organizer/create" method="get">
            <button type="submit" class="header-button">Create Reconstruction</button>
        </form>
    </div>
    {{/organizer}}
    {{#user}}
        {{#roles}}
                <label id="{{.}}Label" style="display: none"></label>
        {{/roles}}
        <div id="adminDiv" style="display: none">
            <form id="admin" action="/admin" method="get">
                <button type="submit" class="header-button">Admin</button>
            </form>
        </div>
        <div>
            <form id="account" action="/account" method="get">
                <button type="submit" class="header-button">Account</button>
            </form>
        </div>
        <div>
            <form id="search" action="/search" method="get">
                <button type="submit" class="header-button">Search</button>
            </form>
        </div>
        <div>
            <form id="checks" action="/checks" method="get">
                <button type="submit" class="header-button">Checks</button>
            </form>
        </div>
        <div>
            <form id="logout" action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit" class="header-button">Logout</button>
            </form>
        </div>
    {{/user}}
    {{^user}}
    <div>
        <form id="signin" action="/login" method="get">
            <button type="submit" class="header-button">Sign in</button>
        </form>
    </div>

    <div>
        <form id="signup" action="/registration" method="get">
            <button type="submit" class="header-button">Sign up</button>
        </form>
    </div>
    {{/user}}
    <script>isAdmin()</script>
</header>
<div style="margin-top: 50px; width: 100%"></div>