<script type="text/javascript" src="/js/field.js"></script>
<link rel="/css/styles.css" type="text/css">
<header style="background-color: green; padding: 0; margin: 0;" >
    <div>
        <form id="main" action="/" method="get">
            <button type="submit" class="btn btn-primary">Main</button>
        </form>
    </div>
    {{#organizer}}
    <div>
        <form id="reconstructions" action="/organizer/reconstructions" method="get">
            <button type="submit" class="btn btn-primary">My reconstrutions</button>
        </form>
    </div>
    <div>
        <form id="create" action="/organizer/create" method="get">
            <button type="submit" class="btn btn-primary">Create Reconstruction</button>
        </form>
    </div>
    {{/organizer}}
    {{#user}}
        {{#roles}}
                <label id="{{.}}Label" style="display: none"></label>
        {{/roles}}
        <div id="adminDiv" style="display: none">
            <form id="admin" action="/admin" method="get">
                <button type="submit" class="btn btn-primary">Admin</button>
            </form>
            <form id="adminCreate" action="/admin/create/location" method="get">
                <button type="submit" class="btn btn-primary">Create Location</button>
            </form>
            <form id="adminCreateAttr" action="/admin/create/attribute" method="get">
                <button type="submit" class="btn btn-primary">Add Attribute</button>
            </form>
            <form id="attrList" action="/admin/attributes" method="get">
                <button type="submit" class="btn btn-primary">Attribute List</button>
            </form>
        </div>
        <div>
            <form id="search" action="/search" method="get">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div>
            <form id="checks" action="/checks" method="get">
                <button type="submit" class="btn btn-primary">Checks</button>
            </form>
        </div>
        <div>
            <form id="logout" action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    {{/user}}
    {{^user}}
    <div>
        <form id="signin" action="/login" method="get">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>

    <div>
        <form id="signup" action="/registration" method="get">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
    {{/user}}
    <script>isAdmin()</script>
</header>