<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
{{>header}}
{{#error}}
<label style="color: red">
    Wrong e-mail or password!
</label>
{{/error}}
<div>
    <form action="/login" method="post">
        <input name="{{_csrf.parameterName}}" type="hidden" value="{{_csrf.token}}"/>
        <div class="labeled-div">
            <div>
                <label> User Name :
                    <input id="username" type="email" name="username" value="" placeholder="your@email.com"/>
                </label>
            </div>
            <div>
                <label> Password:
                    <input id="password" type="password" name="password" value="" placeholder="Password"/>
                </label>
            </div>
            <div><button type="submit" class="regular-button">Sign In</button></div>
        </div>
    </form>
    <form action="/registration" method="get"><div class="registration-div"><button class="regular-button" type="submit">Sing Up?</button></div></form>
</div>

</body>
</html>