<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reconstructions</title>
</head>
<body>
    {{>header}}
    {{#reconstructions}}
        <div>
            <label>{{name}}</label>
            <label>{{about}}</label>
            <form action="/reconstructions/{{id}}">
                <button style="background-color: yellow"  type="submit">Ditails</button>
            </form>
            <form action="/reconstructions/{{id}}/participants" >
                <button style="background-color: lightgray"  type="submit">List of Participant</button>
            </form>
            <form action="/reconstructions/{{id}}/checks" method="get">
                <button style="background-color: gray"  type="submit">Checks</button>
            </form>
        </div>
    {{/reconstructions}}
</body>
</html>