<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <script type="text/javascript" src="/js/field.js"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    {{>header}}
    <div class="registration-div">
        <h2>Cost of membership: <b id="cost">{{cost}}</b></h2>
        <form id="creationForm" name="creationForm" action="/payment/{{reconstruction_id}}" method="post">
            <input name="{{_csrf.parameterName}}" type="hidden" value="{{_csrf.token}}"/>
            <div>
                <label>
                    Sum:
                    <input id="total" name="total" type="number" value="" onchange="checkPayment(this)"/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{total}}
                </label>
                {{/errors}}
            </div>
            <button type="submit" class="regular-button">Send</button>
        </form>
    </div>
</body>
</html>