<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
{{>header}}
{{#errors}}
    <div><label style="color: red">{{emailError}}</label></div>
{{/errors}}
    <form id="newUser" name="newUser" action="/registration" method="POST">
        <input name="{{_csrf.parameterName}}" type="hidden" value="{{_csrf.token}}"/>
        <div class="registration-div">
            <div>
                <label> Email :
                    <input type="email" id="email" name="email" value=""/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{email}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label> First Name:
                    <input type="text" id="firstName" name="firstName" value=""/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{firstName}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label> Last Name:
                    <input type="text" id="lastName" name="lastName" value=""/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{lastName}}
                </label>
                {{/errors}}
            </div>
            <div>
            <label> Phone number:
                <input type="text" id="phoneNumber" name="phoneNumber" value=""/>
            </label>
            {{#errors}}
            <label style="color: red">
                {{phoneNumber}}{{phoneError}}
            </label>
            {{/errors}}
            </div>
            <div>
                <label> Date of birth:
                    <input type="date" id="dateOfBirth" name="dateOfBirth" value=""/>
                </label>
                {{#errors}}
                <label style="color: red">
                    {{dateOfBirth}}
                </label>
                {{/errors}}
            </div>
            <div>
            <label> Sex:
                <select id="sex" name="sex">
                    {{#sexes}}
                    <option value="{{.}}">{{.}}</option>
                    {{/sexes}}
                </select>
            </label>
            {{#errors}}
            <label style="color: red">
                {{sex}}
            </label>
            {{/errors}}
            </div>
            <div>
                <label> Password:
                    <input type="password" id="password" name="password" value="" />
                </label>
                {{#errors}}
                <label style="color: red">
                    {{password}}
                </label>
                {{/errors}}
            </div>
            <div>
                <label> Repeat password:
                    <input type="password" id="matchingPassword" name="matchingPassword" value="" />
                </label>
                {{#errors}}
                <label style="color: red">
                    {{passwordNotMatchedErr}}
                </label>
                {{/errors}}
            </div>
        </div>
        <div class="labeled-div">
        <div>
            <label> Organizer:
                <input type="checkbox" onchange="orgChange()" id="organizer" name="organizer"  />
            </label>
            {{#errors}}
            <label style="color: red">
                {{organizer}}
            </label>
            {{/errors}}
        </div>
        <div id="agreementField" style="display: none">
            <label> Agreemnt number:
                <input type="text" id="agreement" name="agreement" value="" />
            </label>
            {{#errors}}
            <label style="color: red">
                {{agreement}}
            </label>
            {{/errors}}
        </div>
        </div>
        <div class="registration-div"><button type="submit" class="regular-button">Sign Up</button></div>
    </form>
    <script type="text/javascript" src="/js/field.js"></script>
</body>
</html>