<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    {{>header}}
    <div>
        <form name="search"  action="/search" method="get">
            <div class="search">
                <h3>
                    Cost up to:
                </h3>
                <input class="search-input" style="padding: 5px 2px;margin: 2px 3px; width: auto" name="cost" type="text"/>
                <h3>
                    Not full:
                </h3>
                <input class="search-input" style="align-self: center;" name="not_full" type="checkbox"/>
                <h3>
                    Befor:
                </h3>
                <input class="search-input" style="padding: 5px 2px;margin: 2px 3px; width: auto" name="befor" type="date"/>
                <h3>
                    After:
                </h3>
                <input class="search-input" style="padding: 5px 2px;margin: 2px 3px; width: auto" name="after" type="date"/>
                <button type="submit" class="regular-button" style="margin: 0;">Search!</button>
            </div>
        </form>
    </div>
    {{>searchRezult}}
</body>
</html>